# Dependency directories
node_modules/
jspm_packages/

# Coverage directory used by tools like istanbul
coverage
.nyc_output
# OS X
.DS_Store

#
.eslintcache
lerna-debug.log
yarn-error.log

# Need to ignore this, or CICD will fail.
.npmrc

# Alfred Blake
es/
dist
